
.mid-div {

  h2 {
    padding-top: 20px;
    font-weight: 800;
    color: #ff6011;
  }
  .three-p {
    font-size: 15px;
    color: #8c8c8c;
    .con-w {
      font-weight: 700 !important;
      color: #6B6B6B;
    }
  }
  .lorem-p {
    margin-bottom: 45px;
    color: #8c8c8c;
  }
}
